body {
    font-family: 'Papyrus', fantasy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #835b79, #62a5cc);
    color: #333;
}

h1 {
    font-family: 'Papyrus', fantasy;
    size: 56px;
    font-weight: bold;
    color: #7b1b8f;
}

#todo-app {
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #706a6a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(87, 41, 41, 0.1);
}

#todo-form input[type="text"] {
    font-family: 'Papyrus', fantasy;
    width: 60%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

#todo-form button {
    font-family: 'Papyrus', fantasy;
    padding: 10px 20px;
    background-color: #5f74a0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#todo-form button:hover {
    background-color: #0f6922;
}

#todo-list {
    font-family: 'Papyrus', fantasy;
    list-style: none;
    padding: 0;
}

#todo-list li {
    font-family: 'Papyrus', fantasy;
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}